nav.navbar-custom {
  border-bottom: 1px solid #80c242;
  background-color: #666;
}

@media (min-width: 768px) {
  .navbar-brand img {
    margin-left: 50px;
  }
}

.navbar-brand img {
  margin-top: -14px;
  max-width: 100px;
  max-height: 50px;
}

nav.navbar-custom a {
  color: #80c242;
}

nav.navbar-custom a:hover {
  color: #80c242;
}

nav.navbar-custom li > a:hover {
  background-color: #d7d8d9;
  color: #666;
}

.navbar-toggle .icon-bar {
  background-color: #80c242;
}

.form-control:focus {
  border-color: #80c242;
  box-shadow: 0 0 8px rgba(128, 194, 66, 0.6);
}

.btn:focus, .btn:active:focus, .btn.active {
  border: 1px solid #80c242;
  box-shadow: 0 0 8px rgba(128, 194, 66, 0.6);
  outline: 0 none;
}

.input-group-addon {
  border-left: none;
  border-right: none;
}

#pq-loader {
  display: none;
  margin: 10% 50%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #80c242;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pq-scrolling table {
  table-layout: inherit;
}

.pq-scrolling td.pq-col-50, .pq-scrolling th.pq-col-50 {
  vertical-align: top;
  min-width: 50px;
}

.pq-scrolling td.pq-col-75, .pq-scrolling th.pq-col-75 {
  vertical-align: top;
  min-width: 75px;
}

.pq-scrolling td.pq-col-100, .pq-scrolling th.pq-col-100 {
  vertical-align: top;
  min-width: 100px;
}

.pq-scrolling td.pq-col-200, .pq-scrolling th.pq-col-200 {
  vertical-align: top;
  min-width: 200px;
}

.pq-outer {
  position: relative
}
.pq-inner {
  overflow-x: auto;
  overflow-y: visible;
  min-height: 550px;
}

table.dataTable > tbody > tr.stripe1 {
  background-color: #FFF;
}

table.dataTable > tbody > tr.stripe2 {
  background-color: #80c242;
  border-bottom: solid #80c242;
}

table.dataTable > tbody > tr.stripe1 a {
  color: #000;
}

table.dataTable > tbody > tr.stripe2 a {
  color: #000;
}

.borderless td, .borderless th {
  border: none;
}