<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= description %>">
  <meta name="author" content="<%= author %>">

  <title><%= title %></title>

  <!-- Bootstrap Core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/extras/css/sb-admin-2.css" rel="stylesheet">

  <link href="/vendor/typeahead.js/css/typeahead.css" rel="stylesheet">

  <link href="/vendor/select2/css/select2.min.css" rel="stylesheet">
  <link href="/vendor/select2/css/select2-bootstrap.css" rel="stylesheet">

  <!--<link href="/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">-->
  <link href="/vendor/bootstrap-daterangepicker/css/daterangepicker.css" rel="stylesheet">

  <!--<link href="/vendor/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet">-->
  <link href="/vendor/DataTables-1.10/datatables.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <link href="/puckiq/css/pq-main.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>