<!DOCTYPE html>
<html>

<head>
  <% include ../_partials/head %>
</head>

<body>
  <div id="wrapper">
    <% include ../_partials/header %>

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Blank</h1>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
  </div>

  <% include ../_partials/scripts %>
</body>

</html>