<!DOCTYPE html>
<html>

<head>
  <% include ../_partials/head %>
</head>

<body>
  <div id="wrapper">
    <% include ../_partials/header %>

      <div id="page-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="page-header">Welcome to PuckIQ</h1>
              <div class="alert alert-danger text-center" role="alert">
                Please note that this is a testing site. The layouts, functions and information here may change without notice. If you are looking for our stable production environment please visit <a href="http://puckiq.com" class="alert-link">PuckIQ.com</a>.
              </div>
            </div>
            <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
  </div>

  <% include ../_partials/scripts %>
</body>

</html>