<!DOCTYPE html>
<html>

<head>
  <% include ../_partials/head %>
</head>

<body>
  <div id="wrapper">
    <% include ../_partials/header %>

    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="page-header">WOWY by Season</h1>
          </div>
        </div>

        <% // When this form is submitted it controlled by pq-wowy-season.js which loads ajax/ax-wowy-season.ejs %>
        <div class="row">
          <form>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label for="pq-player1name">Primary Player Name</label>
                <select name="player1id" id="pq-player1name" class="form-control"></select>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label for="pq-player2name">Secondary Player Name</label>
                <select name="player2id" id="pq-player2name" class="form-control"></select>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label for="pq-team">Team</label>
                <select name="team" id="pq-team" class="form-control"></select>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group">
                <label for="pq-season">Season</label>
                <select name="season" id="pq-season" class="form-control"></select>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-6 col-xs-12 text-right">
              <label for="pq-buttons">&nbsp;</label>
              <div class="form-group" id="pq-buttons">
                <button class="btn btn-default" type="submit">Go</button>
                <button class="btn btn-default" type="reset">Reset</button>
                <button class="btn btn-default" type="button" disabled="disabled">
                  <i class="fa fa-save fa-fw"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- /.form -->

        <div class="row" id="pq-loader">
          <div class="col-xs-12 text-center">
            <div class="loader"></div>
          </div>
        </div>

        <div class="row" id="pq-wowydata">
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
  </div>

  <% include ../_partials/scripts %>

  <!-- WOWY JavaScript -->
  <script src="/puckiq/js/pq-wowy-season.js"></script>
</body>

</html>