<div class="col-xs-12">
  <h4 id="pq-playernamebyid">
    <%= playerinfo.fullName; %>
  </h4>
</div>
<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">Data</div>
    <div class="panel-body">
      <div class="pq-scrolling pq-outer">
        <div id="pq-woodmoney" class="pq-inner table-condensed table-responsive table-striped stripe">
          <table class="table table-hover table-bordered" cellspacing="0">
            <thead>
              <tr>
                <th class="pq-col-200" rowspan="2">Player</th>
                <th class="pq-col-100" rowspan="2">Comp</th>
                <th class="pq-col-50" rowspan="2">Pos</th>
                <th class="pq-col-50" rowspan="2">Season</th>
                <th class="pq-col-50" rowspan="2">Team</th>
                <th class="pq-col-50" rowspan="2">GT</th>
                <th class="pq-col-50" rowspan="2">TOI</th>
                <th colspan="5">Goals</th>
                <th colspan="5">Corsi</th>
                <th colspan="3">Corsi Rel Comp</th>
                <th colspan="5">Dangerous Fenwick</th>
                <th colspan="3">DF Rel Comp</th>
              </tr>
              <tr>
                <th class="pq-col-50">GF</th>
                <th class="pq-col-50">GA</th>
                <th class="pq-col-50">GF%</th>
                <th class="pq-col-50">GF/60</th>
                <th class="pq-col-50">GA/60</th>
                <th class="pq-col-50">CF</th>
                <th class="pq-col-50">CA</th>
                <th class="pq-col-50">CF%</th>
                <th class="pq-col-50">CF/60</th>
                <th class="pq-col-50">CA/60</th>
                <th class="pq-col-50">CF/60</th>
                <th class="pq-col-50">CA/60</th>
                <th class="pq-col-50">CF%</th>
                <th class="pq-col-50">DFF</th>
                <th class="pq-col-50">DFA</th>
                <th class="pq-col-50">DFF%</th>
                <th class="pq-col-50">DFF/60</th>
                <th class="pq-col-50">DFA/60</th>
                <th class="pq-col-75">DFF/60</th>
                <th class="pq-col-75">DFA/60</th>
                <th class="pq-col-75">DFF%</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>